@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.HomePageContainerCSS {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden auto;
}
.container {
  max-width: 96vw;
  width: 100%;
}
.headlineContainer {
  text-align: left;
  position: absolute;
  top: 9%;
  z-index: 2;
  /* left: 24vw; */
}
.headline {
  letter-spacing: -0.009em;
  text-align: left;
  font-size: 4rem !important;
}
.collectionName {
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.009em;
}
.landingPageAppleWatchMainContainer {
  min-height: 18.4705882353rem;
}
.landingPageAppleWatchContainer {
  height: 53vh;
  max-height: 29.8823529412rem;
  min-height: 23.470588rem;
  width: 52vh;
  max-width: 500px;
  transform: translateY(32rem) scale(2);
  position: relative;
}
.landinPageAppleWatchContainerWhenCarosalOn {
  position: absolute;
  z-index: 2;
}
.landingPageAppleWatch {
  width: 52vh;
  height: auto;
  max-height: 29.8823529412rem;
  min-height: 23.470588rem;
  /* transform: translateY(32rem) scale(2); */
  max-width: 500px;
  display: inline-block;
}
.landingPageAppleWatchBlackBeltStap {
  min-height: 18.4705882353rem;
}
.landingPageAppleWatchCase{
  min-height: 18.4705882353rem;
}
.landingPageAppleWatchContainerWhenGetStartedClicked {
  transform: none;
  transition: 1.2s ease-in-out 0.4s;
  min-height: 18.4705882353rem;
}
.landingPageAppleWatchFace {
  position: absolute;
  left: 0%;
}
.WatchInfoDisplayContainer{
  margin-top: 1rem;
}
.CustomOptionsDiv {
  padding: 0px 18px;
  margin: 0 6px;
  gap: 6px;
  font-size: 17px;
  cursor: pointer;
  background-color: #e8e8ed;
  color: #1d1d1f;
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
  /* transition: all 0.5s ease; */
  transition: width 0.5s ease; /* Add transition for width */
  white-space: nowrap;
}
.CustomOptionsDivExpanded {
  width: auto; /* Allows expansion */
}
.CustomOptionsText {
  padding-inline: 1px 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  vertical-align: middle;
  min-height: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 17px !important;
  transition: opacity 0.3s ease;
  opacity: 1;
}
.CustomBandsText {
  padding-top: 4px;
  padding-bottom: 3px;
  padding-inline: 7px 6px;
  cursor: pointer;
  margin-bottom: 0;
  line-height: 33px;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 17px !important;
}

/* swiper css  */
.custom_prev_button,
.custom_next_button {
  position: absolute;
  top: 50%;
  z-index: 10;
  background-color: #e8e8ed;
  color: #0000008f;
  border-radius: 40px;
  height: 36px;
  width: 36px;
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
}

.custom_prev_button {
  left: 19px;
}

.custom_next_button {
  right: 19px;
}

/* Added this for the initial transition effect */
.swiper_container {
  height: 56vh;
  padding-right: 87px !important;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.swiper_slide {
  width: 312px !important;
}
.swiper-slide {
  transform: translateX(100%);
  transition: transform 0.8s ease-in-out;
}

.swiper_container.initial_loaded .swiper-slide {
  transform: translateX(0);
}

.swiper_container.initial-loaded {
  opacity: 1;
}
.mainContainer{
  top:1rem
}
@media screen and (max-width: 550px) {
  .container {
    max-width: 91.2%;
  }
  .swiper_container {
    padding-right: 37px !important;
  }
  .mainContainer{
    top:2rem;
    height: 49vh;
  }
  .WatchInfoDisplayContainer{
    padding-top: 1rem;
  }
}

@media screen and (max-width: 734px) {
  .headline {
    letter-spacing: 0;
    line-height: 1.1;
    font-size: 2.5rem !important;
  }
  .mainContainer{
    top:2rem
  }
  .WatchInfoDisplayContainer{
    padding-top: 2rem;
  }
  /* .landingPageAppleWatchContainer {
    transform: translateY(476px) scale(1.7);
    min-height: 0;
    height: 85vw;
    max-width: none;
    min-width: 0;
    width: 85vw;
  }
  .landingPageAppleWatchContainerWhenGetStartedClicked {
    transform: none;
    transition: 1.2s ease-in-out 0.4s;
    min-height: 18.4705882353rem;
  }
  .landingPageAppleWatchFace {
    height: auto;
    max-width: none;
    min-width: 0;
    width: 85vw;
  }
  .landingPageAppleWatchBlackBeltStap {
    height: auto;
    max-width: none;
    min-width: 0;
    width: 85vw;
  } */
  .headlineContainer {
    left: 6vw;
  }
  .swiper_container {
    padding-right: 10px;
  }
}
@media only screen and (max-device-width: 320px) and (orientation: portrait) {
  .landingPageAppleWatchContainer {
    transform: translateY(368px) scale(1.7);
    min-height: 0;
    height: 42vh;
    max-width: none;
    min-width: 0;
    width: 42vh;
  }
  .landingPageAppleWatchFace {
    height: auto;
    max-width: none;
    min-width: 0;
    width: 42vh;
  }
  .landingPageAppleWatchBlackBeltStap {
    height: auto;
    max-width: none;
    min-width: 0;
    width: 42vh;
  }
  .landingPageAppleWatchContainerWhenGetStartedClicked {
    transform: none;
    transition: 1.2s ease-in-out 0.4s;
    min-height: 18.4705882353rem;
  }
  .swiper_container {
    padding-right: 37px;
  }
}
@media only screen and (max-device-width: 414px) and (min-device-height: 896px) and (orientation: portrait) {
  .landingPageAppleWatchContainer {
    transform: translateY(474px) scale(1.7);
  }
  /* .landingPageAppleWatchContainerWhenGetStartedClicked {
    transform: none;
    transition: 1.2s ease-in-out 0.4s;
    min-height: 18.4705882353rem;
  }
  .landingPageAppleWatchFace {
    height: auto;
    max-width: none;
    min-width: 0;
    width: 85vw;
  }
  .landingPageAppleWatchBlackBeltStap {
    height: auto;
    max-width: none;
    min-width: 0;
    width: 85vw;
  } */
  .swiper_container {
    padding-right: 37px;
  }
}
@media (max-width: 1023px) and (max-device-width: 736px) {
  .landingPageAppleWatchContainer {
    transform: translateY(474px) scale(1.7);
    min-height: 0;
    height: 85vw;
    max-width: none;
    min-width: 0;
    width: 85vw;
  }
  .landingPageAppleWatchFace {
    height: auto;
    max-width: none;
    min-width: 0;
    width: 85vw;
  }
  .landingPageAppleWatchBlackBeltStap {
    height: auto;
    max-width: none;
    min-width: 0;
    width: 85vw;
  }
  .landingPageAppleWatchContainerWhenGetStartedClicked {
    transform: none;
    transition: 1.2s ease-in-out 0.4s;
    min-height: 18.4705882353rem;
  }
  .headlineContainer {
    /* left: 10vw; */
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .landingPageAppleWatchContainer {
    transform: translateY(146%) scale(2);
  }
  .landingPageAppleWatchContainerWhenGetStartedClicked {
    transform: none;
    transition: 1.2s ease-in-out 0.4s;
    min-height: 18.4705882353rem;
  }
  .swiper_container {
    padding-right: 21px !important;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .swiper_container {
    padding-right: 21px !important;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1441px) {
  .container {
    max-width: 92%;
  }
  .swiper_container {
    padding-right: 21px !important;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .container {
    max-width: 91.1%;
  }
  .WatchInfoDisplayContainer{
    padding-top: 2rem;
  }
  .mainContainer{
    top:2rem
  }
  
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1320px;
  }
  .WatchInfoDisplayContainer{
    padding-top: 3rem;
  }
  .mainContainer{
    top:2rem
  }
}
