@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.HomePageContainerCSS {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden auto;
}
.container {
  max-width: 96vw;
  width: 100%;
}
.headline {
  letter-spacing: -0.009em;
  text-align: left;
  font-size: 4rem !important;
}
.collectionName {
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.009em;
}
.landingPageAppleWatchContainer {
  height: 53vh;
  max-height: 29.8823529412rem;
  min-height: 23.470588rem;
  width: 52vh;
  max-width: 500px;
  transform: translateY(32rem) scale(2);
  position: relative;
}
.landingPageAppleWatchContainerWhenGetStartedClicked {
  transform: none;
  transition: 1.2s ease-in-out 0.4s;
  min-height: 18.4705882353rem;
}
.landinPageAppleWatchContainerWhenCarosalOn {
  position: absolute;
  z-index: 2;
}
.landingPageAppleWatch {
  width: 52vh;
  height: auto;
  max-height: 29.8823529412rem;
  min-height: 23.470588rem;
  /* transform: translateY(32rem) scale(2); */
  max-width: 500px;
  display: inline-block;
}
.landingPageAppleWatchBlackBeltStap {
}
.landingPageAppleWatchFace {
  position: absolute;
  left: 0%;
}
.CustomOptionsDiv {
  padding: 0px 18px;
  margin: 0 6px;
  gap: 6px;
  font-size: 17px;
  cursor: pointer;
  background-color: #e8e8ed;
  color: #1d1d1f;
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
  /* transition: all 0.5s ease; */
  transition: width 0.5s ease; /* Add transition for width */
  white-space: nowrap;
}
.CustomOptionsDivExpanded {
  width: auto; /* Allows expansion */
}
.CustomOptionsText {
  padding-inline: 1px 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  vertical-align: middle;
  min-height: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 17px !important;
  transition: opacity 0.3s ease;
  opacity: 1;
}
.CustomBandsText {
  padding-top: 4px;
  padding-bottom: 3px;
  padding-inline: 7px 6px;
  cursor: pointer;
  margin-bottom: 0;
  line-height: 33px;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 17px !important;
}

/* swiper css  */
.custom_prev_button,
.custom_next_button {
  position: absolute;
  top: 50%;
  z-index: 10;
  background-color: #e8e8ed;
  color: #0000008f;
  border-radius: 40px;
  height: 36px;
  width: 36px;
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
}

.custom_prev_button {
  left: 19px;
}

.custom_next_button {
  right: 19px;
}

/* Added this for the initial transition effect */
.swiper_container {
  opacity: 1;
  transition: opacity 0.5s ease;
}


.swiper-slide {
  transform: translateX(100%);
  transition: transform 0.8s ease-in-out;
}

.swiper_container.initial_loaded .swiper-slide {
  transform: translateX(0);
}

.swiper_container.initial-loaded {
  opacity: 1;
}

@media screen and (max-width: 550px) {
  .container {
    max-width: 91.2%;
  }
}

/* @media screen and (min-width: 480px) {
    .container {
        max-width: 448px;
    }
} */
@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .container {
    max-width: 92%;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .container {
    max-width: 91.1%;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1320px;
  }
}
